/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url('./resources/images/background.jpg') center no-repeat;
  background-color: #160f0f;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  font-family: 'Raleway';
  font-size: 16px;
  color: #ffffff;
  padding: 0 118px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display';
  font-weight: 500;
  font-size: inherit;
}

a {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 13px;
  color: rgba(255, 255, 255, .7);
  text-decoration: none;
  transition: color .1s ease-in-out;
}

a:hover, a:focus {
  color: #ffffff;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/* UTILITIES */

.header-2 {
  font-family: 'Playfair Display';
  font-weight: 500;
  font-size: 40px;
  color: #ffffff;
}

a.header-2 {
  color: rgba(255, 255, 255, .3);
}

a.header-2:hover, a.header-2:focus {
  color: #ffffff;
}

/* COMPONENTS */

.form-group {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.form-label {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 12px;
  color: #fffbff;
  padding-left: 8px;
}

.form-control {
  background: #efe6de;
  border: 1px #ffbc6c solid;
  border-radius: 3px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 14px;
  color: #181818;
  width: 100%;
  padding: 13px 24px;
  outline: none;
  transition: outline .2s ease-in-out;
}

.form-control:focus {
  outline: 2.5px #ffbc6c solid;
}

.form-control::placeholder {
  color: #939094;
}

.form-control-addon {
  position: relative;
}

.form-control-addon .form-control {
  padding-right: 62px;
}

.form-control-addon .addon-btn {
  position: absolute;
  background: url('./resources/icons/eye.svg') center no-repeat;
  background-size: contain;
  border: none;
  width: 24px;
  height: 24px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 24px;
}

.btn {
  background: #ffbc6c;
  border: none;
  border-radius: 3px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 15px;
  color: #0d0c10;
  padding: 16px 28px;
  outline: none;
  transition: all .2s ease-in-out;
}

.btn:hover, .btn:focus {
  background: #ffcd91;
}

.btn:active {
  background: #222222;
  color: #f5eeff;
  outline: 2px #ffbc6c solid;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 43px 118px;
  transition: background .1s ease-in-out;
}

.navbar a {
  font-family: 'Playfair Display';
  color: #f6efde;
}

.navbar a:hover {
  color: rgba(255, 255, 255, .5);
}

.navbar .navbar-base {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-brand {
  font-weight: 400;
  font-size: 36px;
  transition: all .1s ease-in-out;
}

.navbar .navbar-toggler {
  display: none;
  background: url('./resources/icons/menu.svg') center no-repeat;
  background-size: contain;
  border: none;
  width: 24px;
  height: 24px;
}

.navbar.active .navbar-toggler {
  background: url('./resources/icons/close.svg') center no-repeat;
  background-size: contain;
  transition: background 0.1s ease-in-out;
}

.navbar .navbar-nav {
  display: flex;
  align-items: center;
  column-gap: 75px;
  transition: all .1s ease-in-out;
}

.navbar .nav-link {
  font-weight: 700;
  font-size: 18px;
}

.navbar .nav-search .nav-link {
  display: none;
}

.navbar .nav-search img {
  width: 32px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.form {
  background: rgba(252, 250, 255, .14);
  border: 1px #ffffff solid;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  width: 50%;
  padding: 46px 93px;
}

.form .form-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 26px;
  margin-bottom: 30px;
}

.form .form-body {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-right: 25%;
}

.form .btn {
  width: 50%;
}

.divider {
  width: 1px;
  align-self: stretch;
  background: #ffffff;
}